/* COMMON */
*{
    margin: 0;
    padding: 0;
    font-size: 0;
}

body{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    word-break: break-all;
    font-family: "Roboto", sans-serif; 
    font-weight: 100;
}

img{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

ul{
    list-style-type: none;
}

/* HEADER */
.header-area {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.navbar-fade{
    animation-name: navbar-fade;
    animation-duration: 0.7s;
    -webkit-animation-name: navbar-fade;
    -webkit-animation-duration: 0.7s;
}

@keyframes navbar-fade {
    from { opacity: .4 }
    to { opacity: 1 }
}

@-webkit-keyframes navbar-fade {
    from { opacity: .4 }
    to { opacity: 1 }
}

.header-area.navbar-fixed {
    position: fixed;
}

.header-area > .navbar {
    width: calc(100% - 70px);
    margin: 0 35px;
    overflow: hidden;
}

@media (min-width: 992px) {
    .header-area > .navbar{
        max-width: 900px;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .header-area > .navbar{
        max-width: 1000px;
    }
}

.header-area > .navbar > .navbar-brand {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-42%);
    font-family: "Open Sans", sans-serif;
    color: #425C59;
    font-size: 32px;
    text-transform: none;
    cursor: pointer;
}

.header-area > .navbar > .navbar-toggler *{
    font-size: 32px;
}

.header-area > .navbar > .navbar-toggler {
    float: right;
    height: 70px;
    line-height: 70px;
    font-size: 32px;
    cursor: pointer;
}
.header-area > .navbar > .navbar-toggler > img {
    width: 30px;
    height: 30px;
    transform: translateY(19%);
}

@media(min-width: 992px) {
    .header-area > .navbar > .navbar-toggler {
        display: none;
    }
}

.header-area > .navbar > .navbar-menu {
    position: absolute;
    background-color: rgba(66,92,89,0.6);
    top: 70px;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
    overflow: hidden;
}

.header-area > .navbar > .navbar-menu.show {
    height: 200px;   
}

.header-area > .navbar > .navbar-menu > .nav-item {
    float: none;
    display: block;
    height: 50px;
    line-height: 50px;
}

.header-area > .navbar > .navbar-menu > .nav-item:hover * {
    background-color: rgba(0, 0, 0, 0.4);
}

.header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
    display: block;
    padding-left: 50px;
    color: white;
    cursor: pointer;
}

@media (min-width:992px) {
    .header-area > .navbar > .navbar-menu {
        position: relative;
        background-color: transparent;
        float: right;
        top: 0;
        width: auto;
        height: auto;
        transition: none;
    }

    .header-area > .navbar > .navbar-menu.show {
        height: auto;
    }
    
    .header-area > .navbar > .navbar-menu > .nav-item {
        display: inline-block;
        height: 70px;
        line-height: 70px;
    }
    
    .header-area > .navbar > .navbar-menu > .nav-item:hover * {
        background-color: transparent;
    }
    
    .header-area > .navbar > .navbar-menu > .nav-item > .nav-link {
        display: block;
        padding: 0 20px;
        color: black;
    }
}

/* SECTION CONTAINER */
.section-container {
    max-width: 1000px;
    margin: 0 auto;
}

/* WELCOME AREA */
.welcome-area {
    height: auto;
}
.welcome-area > .container {
    position: relative;
    height: 100%;
}


.welcome-area > .container > .image-slide {
    height: 100%
}

.welcome-area > .container > .image-prev,
.welcome-area > .container > .image-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 50px 50px 0;
    user-select: none;
}

.welcome-area > .container > .image-next {
    right: 0;
    border-radius: 50px 0 0 50px;
}

.welcome-area > .container > .image-prev:hover,
.welcome-area > .container > .image-next:hover {
    background-color: rgba(66,92,89,0.8);
}

.welcome-area > .container > .dots {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;            
}

.welcome-area > .container > .dots > .dot {
    cursor: pointer;
    height: 4px;
    width: 30px;
    margin: 0 2px;
    background-color: rgb(66,92,89);
    border-radius: 3px;
    display:  inline-block;
    transition: background-color 0.6s ease;
}

.welcome-area > .container > .dots > .dot.active, 
.welcome-area > .container > .dots > .dot:hover {
    background-color: #ddd;
}

.welcome-area > .container > .fade {
    animation-name: fade;
    animation-duration: 1.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;

}

@keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}

@-webkit-keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
} 
/* SECTION */
section {
    padding: 30px;
}

.title {
    font-size: 30px;
    font-weight: 250;
    font-family: "Nanum Gotic", sans-serif;
    text-align: center;
    letter-spacing: 3px;
    padding-bottom: 50px;
    color: #425C59;
}

   .title::after {
    content: "";
    display: block;
    width: 110px;
    height: 2px;
    margin: 5px auto;
    background-image: linear-gradient(to right, #839997, #DDDDDD);
}

/* ABOUT AREA */
.about-area {
    height: auto;
    padding-top: 80px;
    position: relative;
}
   
.about-area > .picture {
    display: block;
    text-align: center;
    padding: 20px;
}

@media (min-width: 992px) {
    .about-area > .picture {
        width: calc(40% - 40px);
        display: inline-block;
    }
}

.about-area > .picture > img {
    max-width: 170px;
    max-height: 170px;
    border-radius: 33px;
}

.about-area > .picture > .name {
    font-size: 25px;
    margin-top: 7px;
    text-align: center;
    padding: 15px 0;
    color: #425C59;
}

.about-area > .picture > .description {
    font-size: 15px;
    font-weight: 600;
    font-family: "Nanum Gotic", sans-serif;
    color:rgb(155,167,167);
}

.about-area > .text {
    display: block;
    padding: 30px;
}

@media (min-width : 992px) {
    .about-area > .text {
        width: calc(60% - 100px);
        display: inline-block;
        padding: 0 50px;
        position: absolute;
        margin-top: 8px;
    }
}

.about-area > .text * {
    font-size: 16px;
}

.about-area > .text > .intro {
    padding: 20px 0;
    font-family: "Nanum Gotic", sans-serif;
    letter-spacing: 1.5px;
    font-weight: 350;
    line-height: 22px;
    color: #696969;
}

.about-area > .text > ul {
    padding: 8px 0 17px 0;
    line-height: 22px;    
    color: #696969;
}

.about-area > .text > ul >il {
    height: 40px;
}

.about-area > .text > ul > il > .info {
    color: #777;
}

.about-area > .text > ul > li > .info > i {
    margin-top: 1px;
    color: #425C59;
}

/* 

.about-area > .text > .sns {
    padding-top: 15px;
    text-align: center;
}

@media (min-width: 992px) {
    .about-area > .text > .sns {
        text-align: left;
    }
}

.about-area > .text > .sns > a {
    width: 30px;
    line-height: 30px;
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
    font-size: 15px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin: 0 3px;
}

.about-area > .text > .sns > a > i {
    color: whitesmoke;
}

.about-area > .text > .sns > a:hover, 
.about-area > .text > .sns > a > i:hover {
    background-image: linear-gradient(to right, rgb(144, 161, 148), rgb(228, 215, 215));
    color: rgb(51, 51, 51); 
}

*/

/* SERVICE AREA */
.services-area {
    height: auto;
    padding: 60px 10px 12px 10px;
    background-color:#425C59;
    background-size: cover;
    border-radius: 50px;

}

.services-area > .title {
    padding-bottom: 50px;
    color: white;
}

.services-area > .container {
    text-align: center;
}

.services-area > .container > .item {
    height: auto;
    background-color: white;
    padding: 30px;
    margin: 12px 0 0 0;
    text-align: left;
    border-radius: 45px;
    box-shadow: 0 6px 20px 0 rgba(24, 24, 24, 0.5); 
    /* transition: all 0.5s ease; */
   
}
/*
.services-area > .container > .item:hover {
    transition: scale(1.015);
    box-shadow: 0 6px 20px 0 rgba(248, 248, 248, 0.281);
}
*/

.services-area > .container > .item > .icon {
    padding-top: 5px;
    display: inline-block;
}

.services-area > .container > .item > .icon > span > i {
    font-size: 40px;
    color: #7C8C8B;
}

.services-area > .container > .item > .service {
    font-size: 23px;
    font-weight: 270;
    font-family: "Roboto", sans-serif;
    color:  #425C59;
    letter-spacing: 1.5px;
    padding: 15px 0 5px 0;
}

.services-area > .container > .item > .content {
    font-size: 15px;
    font-weight: 350;
    font-family: "Nanum Gotic", sans-serif;
    color:  #7C8C8B;
    letter-spacing: 1.5px;
    line-height: 20px;
    padding: 5px 0 10px 0;
}
/* PORTFOLIO AREA */
.portfolio-area > .title {
    padding: 50px;
}

.portfolio-area > .text > .intro {
    font-size: 15px;
    font-weight: 300;
    font-family: "Nanum Gotic", sans-serif;
    text-align: center;
    letter-spacing: 2px;
    line-height: 20px;
    padding: 5px 0 10px 0;
}

/* REVIEW AREA */
.review-area > .title {
    padding-bottom: 50px;
}

/* FOOTER AREA*/
.footer-area {
    height: auto;
    text-align: center;
    background-color: #425C59;
    border-radius: 50px 50px 0 0;
}

.footer-area * {
    color:white;
}

.footer-area > .sns > .item {
    display: inline-block;
    padding: 14px 10px 8px 10px;
    cursor: pointer;
}

.footer-area > .sns > .item > i {
    font-size: 20px;
}

.footer-area > .info > p {
    font-size: 14px;
    font-family: "Nanum Gotic", sans-serif;
    letter-spacing: 1px;
    padding: 0 0 11px 0;
    
}